.example1{
    font-size:40px;
    font-family:serif;
}
.example2{
    color:crimson;
    font-family:serif;
    float:right;
    padding:30px;
}
.example3{
    color:crimson;
    font-family:serif;
    padding:50px;
}